<!-- START BREADCRUMBS -->
<div ng-app='app' ng-controller='signaldetailCtrl'>
   <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
       <div class="page-title">
           <div class="pull-left">
               <h1 class="title">{{signal}}</h1>                            
           </div>
           <!--div class="pull-right hidden-xs">
               <ol class="breadcrumb">
                   <li>
                       <a href="index.html"><i class="fa fa-home"></i>Tablero</a>
                   </li>
                   <li>
                       <a href="layout-default.html">Layouts</a>
                   </li>
                   <li class="active">
                       <strong>Principal</strong>
                   </li>
               </ol>
           </div-->
       </div>
   </div>
   <!-- END BREADCRUMBS -->
   <div class="clearfix"></div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="row">
           <%= render 'shared/flash_messages' if !flash.empty? %>
       </div>
   </div>
   <div class="clearfix"></div>
   <div class="col-lg-12">
    <!--% @tags_of_client.each do |tag| %-->
      <!--%= render partial: "shared/tag_graphic", locals: {tag: tag} %-->
    <!--% end %-->
    
     <%= render :partial => 'shared/signal_detail' %>
   </div> 
</div>

