<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
  <div class="page-title">

      <div class="pull-left">

      <div class="pull-right hidden-xs">
          <ol class="breadcrumb">
              <li>
                  <a href="/"><i class="fa fa-dashboard"></i>Tablero</a>
              </li>
          </ol>
      </div>

  </div>
</div>
<div class="clearfix"></div>
<%= render 'shared/flash_messages' if !flash.empty? %>
<div class="clearfix"></div>
<div class="col-lg-12">
    <% @tags_of_client.each do |tag| %>
      <!--%= render partial: "shared/tag_gaugemeter", locals: {tag: tag} %-->
      <%= render partial: "shared/tag_graphic", locals: {tag: tag} %>
    <% end %>
</div>


