<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
  <div class="page-title">

      <div class="pull-left">

      <div class="pull-right hidden-xs">
          <ol class="breadcrumb">
              <li>
                  <a href="/"><i class="fa fa-gears"></i>Telecontrol</a>
              </li>
          </ol>
      </div>

  </div>
</div>
<div class="clearfix"></div>
<%= render 'shared/flash_messages' if !flash.empty? %>
<div class="clearfix"></div>
<div class="col-lg-12">

    <section class="box ">

        <header class="panel_header">
            <h2 class="title pull-left">Puertos</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i>
            </div>
        </header>
        <div class="content-body">    
             <%= form_tag(action: "create") do %>
                 <div class="row">
                     <% @tags_of_client.each do |tag| %>
                       <%= render partial: "shared/tag_telecontrol", locals: {tag: tag} %>
                     <% end %>
                 </div>
             <% end %>
         </div>

    </section>

    <section class="box ">

        <header class="panel_header">
            <h2 class="title pull-left">Comando Enviados</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i>
            </div>
        </header>
        <div class="content-body">    
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Equipo</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>¿Ejecutado?</th>
                                <th>Creado Al</th>
                                <th>Ejecutado Al</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @commands.each do |cmd| %>
                                <tr id="cmd-<%= cmd.id %>">
                                    <th><%= cmd.device.full_name %></th>
                                    <th><%= cmd.type_name %></th>
                                    <th><%= cmd.value %></th>
                                    <th>
                                        <% if cmd.executed %>
                                            <span class="label label-success"><i class="fa fa-thumbs-up"></i> Sí</span>
                                        <% end %>
                                        <% if !cmd.executed %>
                                            <span class="label label-danger"><i class="fa fa-thumbs-down"></i> No</span>
                                        <% end %>
                                    </th>
                                    <th><%= cmd.created_at %></th>
                                    <th><%= cmd.updated_at %></th>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>

                </div>
        </div>
    </section>

</div>


