<%= form_for @device, :html => {:id => "msg_validate", :novalidate =>  "novalidate"} do |f| %> 
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> Debe llenar los Siguientes Campos::</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="clearfix"></div>
<%= render 'shared/flash_messages' if !flash.empty? %>
<div class="clearfix"></div>

  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <section class="box ">
      <header class="panel_header">
          <h2 class="title pull-left">Dispositivo</h2>
          <div class="actions panel_actions pull-right">                         
              
          </div>
      </header>
      <div class="content-body">
      <p>
      <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-12">                   
                  <label for="inputEmail" class="col-sm-2 control-label">Place</label>                    
                  <div class="input-group">               
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-tag"></i>     
                      </span>                 
                      <%= f.text_field :place, class: 'form-control', placeholder: 'Ubicación del equipo' %>
                        
                  </div> 

                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Serial</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-location-arrow"></i>     
                      </span>                 
                      <%= f.text_field :serial, class: 'form-control', placeholder: 'Serial del equipo' %>
                  </div> 
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">IP</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-code-fork"></i>     
                      </span>
                      <%= f.text_field :ip, class: 'form-control', placeholder: 'IP asignada al equipo' %>
                  </div>                                            
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Modelo</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-toggle-down"></i>     
                      </span>
                      <%= f.select :model_id, @model.map{ |r| [r.name, r.id] }, {:prompt  => 'Seleccione modelo del equipo'}, {:class => 'form-control m-bot15'}  %>
                  </div>                    
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Cliente</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-toggle-down"></i>     
                      </span>
                      <%= f.select :client_id, @client.map{ |r| [r.name, r.id] },  {:prompt  => 'Seleccioe el cliente asociado'}, {:class => 'form-control m-bot15'} %>
                  </div>                   
                   <br> 
                <div class="col-md-12">                 
                    <%= f.submit 'Guardar', class: 'btn btn-success btn-icon bottom15 right15' %>                                       
                                                  
                    <%= link_to 'Regresar', devices_path , class:'btn btn-purple btn-icon bottom15 right15' %>
                </div> 

              </div> 
          </div>
        </div>
      </div>
  </section>
 </div>
<% end %>
