<p id="notice"><%= notice %></p>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sort_panel">
  <section class="box purple">
    <header class="panel_header">
        <h2 class="title pull-left">Dispositivo</h2>
        <div class="actions panel_actions pull-right">
            <i class="box_toggle fa fa-chevron-down"></i>
            <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
            <i class="box_close fa fa-times"></i>
        </div>
    </header>
    <div class="content-body">    
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>
              <strong>Place:</strong>
              <%= @device.place %>
            </p>

            <p>
              <strong>Serial:</strong>
              <%= @device.serial %>
            </p>

            <p>
              <strong>Ip:</strong>
              <%= @device.ip %>
            </p>

            <p>
              <strong>Modelo:</strong>
              <%= @device.model.name %>
            </p>

            <p>
              <strong>Cliente:</strong>
              <%= @device.client.name %>
            </p>

        </div>
        <div class="col-md-12">                 
           <%= link_to 'Editar', edit_device_path(@device) , class:'btn btn-success btn-icon bottom15 right15' %>  
           <%= link_to 'Regresar', devices_path , class:'btn btn-primary btn-icon bottom15 right15' %>
        </div> 
      </div>
    </div>
  </section>
</div>




