 <!-- START CONTENT -->
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Configuracion del Cliente: <%= @client.name %>, Correctamente </h1>
        </div>                        
    </div>
</div>

<div class="clearfix"></div>

<div class="col-lg-12">
  <section class="box nobox">
      <div class="content-body">    
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="uprofile-image">
                    <img src="<%= image_path 'data/profile/logo.png' %>" class="img-responsive">
                </div>
                <div class="uprofile-name">
                    <h3>
                        <a href="#"> <%= @client.name %> </a>
                        <!-- Available statuses: online, idle, busy, away and offline -->
                        <span class="uprofile-status online"></span>
                    </h3>
                    <p class="uprofile-title"><%= @client.name %></p>
                </div>
                <div class="uprofile-info">
                    <ul class="list-unstyled">
                        <li><i class='fa fa-envelope'></i>  <%= @client.email_1 %></li>
                        <li><i class='fa fa-envelope'></i> <%= @client.email_2 %></li>
                        <li><i class='fa fa-phone'></i>  <%= @client.phone_1 %></li>
                        <li><i class='fa fa-phone'></i> <%= @client.phone_2 %> </li>
                        <li><i class='fa fa-bell'></i>  <%= @client.notifications %>Min </li>
                        <li><i class='fa fa-envelope'></i> <%= @client.alerts %>Min </li>
                    </ul>
                </div>                              
            </div>              
          </div>
        </div>
      </div>
  </section>
</div>

