 <!-- START CONTENT -->
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Alertas Cliente: <%= @client.name %></h1>
        </div>                        
    </div>
</div>

<div class="clearfix"></div>

<div class="project">
  <div class="list-group" id="alerta-contenedor"> 
      
      <% @tag_alerts.each do |tag| %>

          <p class="list-group-item-text"><%= tag.description %></p>
           
      <% end %>  
  </div>
</div>

