<div class="col-md-12 col-sm-12 col-xs-12">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, :class => "alert alert-#{key} alert-dismissible fade in") do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <%= value %>
    <% end %>
  <% end %>
</div>

