<div class="row" ng-app='app' ng-controller="signalsCtrl">
	<div class="col-md-12">
		<div class="wid-dahs-border-sensores db_box">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-6 " ng-repeat="signal in signals | toArray : false | orderBy:'-tag_type.tag_type'">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<div ng-switch="signal.tag_type.tag_type">
							    <div class="tile-counter bg-primary" ng-switch-when="rank" width="100%">
							        <div class="content">
							            <!--span>
			                                <i class='icon-warning fa fa-square icon-xs icon-1'></i><small><strong>{{signal.tag_type.name}}</strong></small>
			                            </span-->
			                            <div class="clearfix"></div>
			                            <div class="row">
			                            	<div class="col-md-9">
			                            		<div width="100%" ng-radial-gauge warningValue="signal.warning_value" dangerValue="signal.danger_value" normalValue="signal.normal_value" ranges="ranges" value="signal.last_value.value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="signal.normal_value"></div>
			                            		<h4 id='gauge-meter-text1'></h4>
			                            	</div>
			                            	<div class="col-md-3">
			                            		<br>
			                            		<h2 ng-show="signal.last_value.value" title="{{signal.last_value.collection_time_ago_in_words}}">{{signal.last_value.value}}</h2>
			                            		<h2 ng-show="!signal.last_value.value" title="Sin datos registrados.">0</h2>
			                            		<!--div class="col-md-6 bottom10"><a href="ui-tooltips.html#" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="I am a Fading tooltip" data-placement="top"><u class='text-dark'>Fading tooltip</u></a></div-->
			                            	</div>
			                            </div>
							            
							            <p class="small">{{signal.name}}</p>
							            <div class="btn-group btn-group-justified">
							            <!-- signals_detail_path -->
							            <%= link_to 'Ver detalle', '/signals/detail/{{signal.id}}', class: 'btn btn-blue btn-xs', type:'button' %>
							            <!--%= link_to 'Eliminar', device, method: :delete, data: { confirm: 'Estas Seguro de Borrar este Dispositivo?' }, class: 'btn btn-danger btn-xs', type:'button' %-->      
							            </div>
							        </div>
							    </div>
		    				    <div class="tile-counter bg-primary" ng-switch-when="actuator">
		    				        <div class="content">
		    				            <span>
		                                    <i class="fa fa-dashboard icon-sm"></i><small><strong>Estado Telecontrol #{{signal.port}}</strong></small>
		                                </span>
		    				            <div class="form-block" ng-switch="signal.last_value.value">
		    				              <input ng-switch-when="1" id="signal0-{{signal.id}}" type="checkbox" checked="true"  class="iswitch iswitch-lg iswitch-warning" value="{{signal.last_value.value}}" disabled="disabled">
		    				              <input ng-switch-default id="signal0-{{signal.id}}" type="checkbox" checked="false"  class="iswitch iswitch-lg iswitch-warning" value="{{signal.last_value.value}}" disabled="disabled">
		    				            </div>
		    				            <!--input tabindex="5" type="checkbox" id="square-checkbox-2" class="skin-square-green" checked>
		    				             <input ng-switch-when="1" id="tag0-{{signal.id}}" type="checkbox" checked="true"  class="iswitch iswitch-lg iswitch-primary" value="{{signal.last_value.value}}" disabled="disabled"-->
		    				            <p class="small">{{signal.name}}</p>
		    				            <div class="btn-group btn-group-justified">
										<!-- signals_detail_path -->
		    				            <%= link_to 'Ver detalle', '/signals/detail/{{signal.id}}', class: 'btn btn-blue btn-xs', type:'button' %>
		    				            </div>
		    				        </div>
		    				    </div>					    
							</div>
						</div>

						<div class="clearfix visible-xs-block"></div>
					</div>
					
				</div>															
			</div>
		</div>
	</div>
</div>