<div>
		<div class="row">
			<div class="col-md-12">
				<div class="wid-dahs-border-sensores db_box">
					<div class="row">
						<div class="col-md-12">
							<input type="hidden" name="idsignal" ng-model="idsignal" ng-init="idsignal=<%= @idsignal %>" />
							<!--h4>Location: {{location}}</h4>
							<p></p>
							<br-->
							<!--%= @idsignal %-->
							<!--canvas id="line" class="chart chart-line" chart-data="data"
							  chart-labels="labels" chart-legend="true" chart-series="series"
							  chart-click="onClick" >
							</canvas-->
						<!--/div-->															
					</div>
					<div class="row">
						<div class="col-md-12" ng-show="signal">
							<!--div class="panel panel-default">
					            <div class="panel-heading"><h4>{{signal}}</h4></div>
					            <div class="panel-body">
					              <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
					                      chart-click="onClick" chart-series="series"></canvas>
					            </div>
					          </div-->
					        <section class="box primary">
					            <header class="panel_header">
					                <h2 class="title pull-left">Gráfica desde el <!--{{signal}}--></h2>
					                <div class="actions panel_actions pull-right">
					                    <!--i class="box_toggle fa fa-chevron-down"></i>
					                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
					                    <i class="box_close fa fa-times"></i-->
					                    <div class="btn-group">
					                    	<%= link_to '<i class="fa fa-signal"></i>Señales'.html_safe, signals_index_path, type: 'button', class: 'btn btn-blue btn-xs', title: "Volver al listado de señales." %>         
                                            <a type="button" class="btn btn-success btn-xs" title="Valores registrados el día de hoy."><i class="fa fa-calendar-o"></i>Hoy</a>
                                            <a type="button" class="btn btn-warning btn-xs" title="Valores de los ultimos 5 días"><i class="fa fa-calendar" ></i>Ultimos 5 Días</a>
                                            <a type="button" class="btn btn-purple btn-xs" title="Valores registrados en el mes"><i class="fa fa-calendar"></i>Mes</a>
                                        </div>
					                </div>
					            </header>
					            <div class="content-body">    
					            <div class="row">
					                    <div class="col-md-12 col-sm-12 col-xs-12">
					                        <canvas width="5%" height="2%" id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
					                      chart-click="onClick" chart-series="series"></canvas>

					                    </div>
					                </div>
					            </div>
					        </section>
						</div>
						
						<!--div class="col-md-6">
							<div class="panel panel-default">
					            <div class="panel-heading"><h4>{{signal}}</h4></div>
					            <div class="panel-body">
					              <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
					                      chart-click="onClick" chart-series="series"></canvas>
					            </div>
					          </div>
						</div-->
					</div>
					<div class="row">
						<div class="col-md-12" ng-show="tag_value_detail">
						    <section class="box transparent">
						        <header class="panel_header">
						            <h2 class="title pull-left">TIPO DE ALERTA: {{tag_value_detail.tag_alert[0].type_alert}}</h2>
						            <div class="actions panel_actions pull-right">
						                <i class="box_toggle fa fa-chevron-down"></i>
						                <!--i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
						                <i class="box_close fa fa-times"></i-->
						            </div>
						        </header>
						        <div class="content-body">    <div class="row">
						                <div class="col-md-12 col-sm-12 col-xs-12">
						                	<p>Valor del tag: {{tag_value_detail.value}}.</p>
						                    <p>Descripción: {{tag_value_detail.tag_alert[0].description}}.</p>
						                    <p>Hace, {{tag_value_detail.collection_time_ago_in_words}}.</p>

						                </div>
						            </div>
						        </div>
						    </section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>