<div class="row" ng-app='app' ng-controller="dashCtrl">
  <div class="col-md-12" ng-repeat="tag in tags">
    <!---Level 1: .col-md-9-->
    <div ng-switch="tag.tag_type.tag_type">
        <div class="wid-dahs-border-sensores db_box" ng-switch-when="rank">
            <div class="row">
              <div class="col-md-12">
                <br>
                <h4>{{tag.name}}</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="r1_graph4_tacometro db_box">
                            <span class=''>
                                <i class='icon-warning fa fa-square icon-xs icon-1'></i>&nbsp;<small>{{tag.tag_type.name}}</small>
                            </span>
                            <div width="90%" ng-radial-gauge warningValue="tag.warning_value" dangerValue="tag.danger_value" normalValue="tag.normal_value" ranges="ranges" value="tag.last_value.value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="tag.normal_value"></div>
                            <h4 id='gauge-meter-text1'></h4>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Ultima Actualización</strong>
                                    <div>
                                      <span class='text-muted'><small title="">Valor Actual: {{tag.last_value.value}}</small></span><br>
                                      <span class='text-muted'><small title="">Valor Min: {{tag.normal_value}}</small></span><br>
                                      <span class='text-muted'><small title="">Valor Max: {{tag.danger_value}}</small></span><br>
                                      <span class='text-muted'><small title="">Promedio: {{ (((tag.last_value.value*10) + tag.normal_value + tag.danger_value) / 3) | number:2}}</small></span><br
                                      <span class='text-muted'><small title="">(hace {{tag.last_value.collection_time_ago_in_words}})</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Ultima Alarma</strong> <!--{{ tag.tag_alert.length }}-->
                                    <div ng-repeat="item in tag.tag_alert">
                                      <span class='text-muted'><small title="">{{item.description}}</small></span>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Ultima Notificación</strong>
                                    <div>
                                      <span class="text-muted"><small>hace {{tag.last_value.collection_time_ago_in_words}}.</small></span>
                                    </div>
                                </div>
                            </div>
                           <!--div class="col-md-12 col-sm-12 col-xs-12 map_progress">
                               <h4>{{tag.last_value.collection_time_ago_in_words}}</h4>
                               <span class='text-muted'><small>Ultima Actualización</small></span>
                               <div class="progress"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
                               <h4>{{ tag.tag_alert.length }}</h4>
                               <div ng-repeat="item in tag.tag_alert">
                                <span class='text-muted'><small title="{{item.description}}">Alarma</small></span>
                               </div>
                               <div class="progress"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
                               <h4>Notificaciones</h4>
                               <span class='text-muted'><small>notificacion data</small></span>
                               <div class="progress"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
                           </div-->
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="wid-dahs-border-sensores db_box" ng-switch-when="actuator">
            <div class="row">
              <div class="col-md-12">
                <br>
                <h4>{{tag.name}}</h4>
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <!--div class="r1_graph4_tacometro db_box">
                            <span class=''>
                                <i class='icon-warning fa fa-square icon-xs icon-1'></i>&nbsp;<small>Estado Telecontrol #{{tag.port}}</small>
                            </span>
                            <div class="form-block" ng-switch="tag.last_value.value">
                              <input ng-switch-when="1" id="tag0-{{tag.id}}" type="checkbox" checked="true"  class="iswitch iswitch-lg iswitch-primary" value="{{tag.last_value.value}}" disabled="disabled">
                              <input ng-switch-default id="tag0-{{tag.id}}" type="checkbox" checked="false"  class="iswitch iswitch-lg iswitch-primary" value="{{tag.last_value.value}}" disabled="disabled">
                            </div>
                            <span id="tag0-{{tag.id}}-time">Al: {{tag.last_value.collection_time_ago_in_words}}</span>
                        </div-->
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-progress inverted text-primary" ng-init="switchStatus = true">
                                <div class="content">
                                    <h5><i class="fa fa-dashboard icon-sm"></i> Estado Telecontrol #{{tag.port}}</h5>
                                    <div class="form-block" ng-switch="tag.last_value.value">
                                      <toggle-switch ng-switch-when="1" id="tag0-{{tag.id}}" ng-model="switchStatus" class="switch-large switch-success" is-disabled="true"></toggle-switch>
                                      <toggle-switch ng-switch-default ng-init="switchStatus = false" id="tag0-{{tag.id}}" ng-model="switchStatus" class="switch-large switch-danger" is-disabled="true"></toggle-switch>
                                      <!--input ng-switch-when="1" id="tag0-{{tag.id}}" type="checkbox" checked="true"  class="iswitch iswitch-lg iswitch-primary" value="{{tag.last_value.value}}" disabled="disabled">
                                      <input ng-switch-default id="tag0-{{tag.id}}" type="checkbox" checked="false"  class="iswitch iswitch-lg iswitch-primary" value="{{tag.last_value.value}}" disabled="disabled"-->
                                    </div>
                                    <!--span id="tag0-{{tag.id}}-time">Al: {{tag.last_value.collection_time_ago_in_words}}</span-->
                                </div>
                            </div>
                            
                          </div>
                          
                        </div>
                        
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Ultima Transición</strong>
                                    <div>
                                      <span class='text-muted'><small title="">hace {{tag.last_value.collection_time_ago_in_words}}.</small></span><br>
                                      <span class='text-muted'><small title="">Cantidad de transiciones: {{tag.last_value.value}}.</small></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Ultima Notificación</strong>
                                    <div>
                                      <div ng-repeat="item in tag.tag_alert">
                                        <span class='text-muted'><small title="">{{item.description}}</small></span>
                                     </div>
                                      <span class='text-muted'><small title="">hace {{tag.last_value.collection_time_ago_in_words}}.</small></span>  
                                    </div>
                                </div>
                            </div>
                            <!--div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Ultima Alarma</strong>
                                    <div ng-repeat="item in tag.tag_alert">
                                      <span class='text-muted'><small title="">{{item.description}}</small></span>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-default alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Ultima Notificación</strong>
                                    <div>
                                      <span class="text-muted"><small>hace {{tag.last_value.collection_time_ago_in_words}}.</small></span>
                                    </div>
                                </div>
                            </div-->
                           <!--div class="col-md-12 col-sm-12 col-xs-12 map_progress">
                               <h4>{{tag.last_value.collection_time_ago_in_words}}</h4>
                               <span class='text-muted'><small>Ultima Actualización</small></span>
                               <div class="progress"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
                               <h4>{{ tag.tag_alert.length }}</h4>
                               <div ng-repeat="item in tag.tag_alert">
                                <span class='text-muted'><small title="{{item.description}}">Alarma</small></span>
                               </div>
                               <div class="progress"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
                               <h4>Notificaciones</h4>
                               <span class='text-muted'><small>notificacion data</small></span>
                               <div class="progress"><div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
                           </div-->
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!--section class="box " ng-switch-when="actuator">
            <header class="panel_header">
                <h2 class="title pull-left">{{tag.name}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">    
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span>Estado Telecontrol #{{tag.port}}</span>
                        <div class="form-block" ng-switch="tag.last_value.value">
                          <input ng-switch-when="1" id="tag0-{{tag.id}}" type="checkbox" checked="true"  class="iswitch iswitch-lg iswitch-primary" value="{{tag.last_value.value}}" disabled="disabled">
                          <input ng-switch-default id="tag0-{{tag.id}}" type="checkbox" checked="false"  class="iswitch iswitch-lg iswitch-primary" value="{{tag.last_value.value}}" disabled="disabled">
                        </div>
                        <span id="tag0-{{tag.id}}-time">Al: {{tag.last_value.collection_time_ago_in_words}}</span>
                    </div>
                </div>
            </div>
        </section-->
    </div>

  </div>
</div>