<% if tag.tag_type.is_actuator? %>

  <div class="col-md-4 col-sm-4 col-xs-4">
      <h4>Telecontrol #<%= tag.port %></h4>
      <div class="row">
          <ul class="list-unstyled">
              <li>
                  <label class="form-label">Off</label>
                  <input id="<%= "tag-#{tag.id}" %>" name="<%= "tag-#{tag.id}" %>" type="checkbox" class="iswitch iswitch-lg iswitch-primary" <%= tag.last_value.nil? ? '' : (tag.last_value.value==1 ? 'checked' : '') %> value="On">
                  <label class="form-label">On</label>
              </li>
              <li>
                <span id="<%= "tag-#{tag.id}-time" %>"  >Al: <%= tag.last_value.nil? ? 'Sin Ultimo Dato' : tag.last_value.collection_time_ago_in_words %> </span>
              </li>
              <li>
                  <button id="<%= "tag-#{tag.id}-send" %>" name="<%= "tag-#{tag.id}-send" %>" data-tag="<%= tag.id %>" class="btn btn-sm btn-danger btn-icon bottom10 right10" onclick="return confirm('¿Está seguro de cambiar el estado de este actuador?')" value="push">
                      <i class="fa fa-fire"></i> &nbsp; <span>Cambiar Estado</span>
                  </button>                                
              </li>
          </ul>

      </div>

  </div>

<% end %>