<% if tag.tag_type.is_rank? %>
  <section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left"><%= tag.name %></h2>
        <div class="actions panel_actions pull-right">
            <i class="box_toggle fa fa-chevron-down"></i>
            <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
            <i class="box_close fa fa-times"></i>
        </div>
    </header>
    <div class="content-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="<%= "tag-#{tag.id}" %>"></div>
        </div>
      </div>
    </div>
  </section>

<% end %>

<% if tag.tag_type.is_actuator? %>

    <section class="box ">

        <header class="panel_header">
            <h2 class="title pull-left"><%= tag.name %></h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i>
            </div>
        </header>
        <div class="content-body">    

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span>Estado Telecontrol #<%= tag.port %></span>
                    <div class="form-block">
                      <input id="<%= "tag-#{tag.id}" %>" type="checkbox" class="iswitch iswitch-lg iswitch-primary" disabled="disabled">
                    </div>
                    <span id="<%= "tag-#{tag.id}-time" %>"  >Al: </span>
                </div>
            </div>
        </div>
    </section>

<% end %>