<%= form_for :client, :html => {:id => "msg_validate", :novalidate =>  "novalidate"} do |f| %> 
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "Error") %> Debe llenar los Siguientes Campos:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="clearfix"></div>
<%= render 'shared/flash_messages' if !flash.empty? %>
<div class="clearfix"></div>

  <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
  <section class="box ">
      <header class="panel_header">
          <h2 class="title pull-left">Perfil de Usuario</h2>
          <div class="actions panel_actions pull-right">                         
              
          </div>
      </header>
      <div class="content-body">
      <p>
     <!--<div class="uprofile-image">
          <img src="<%= image_path 'data/profile/logo.png' %>" class="img-responsive">
      </div>-->
      <div class="uprofile-name">
          <h3>
              <a href="#"> <%= current_user.full_name %> </a>
              <!-- Available statuses: online, idle, busy, away and offline -->
              <span class="uprofile-status online"></span>
          </h3>
          <p class="uprofile-title"><%= current_user.email %></p>
      </div>
      <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">                   
                  <div class="input-group">                                   
                        <label class="iradio-label form-label" for="minimal-radio-2">Desea Enviar Notificaciones al Correo: </label>
                        <%= f.radio_button(:email, true) %> Si                        
                        <%= f.radio_button(:email, false) %> No      


                  </div>  
                  <br>                              
                  <div class="input-group">               
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-envelope"></i>     
                      </span>

                      <%= f.text_field :email_1, class: 'form-control', placeholder: '1er Correo Electronico' %>
                  </div> 
                  <br>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-envelope"></i>     
                      </span>
                      <%= f.text_field :email_2, class: 'form-control', placeholder: '2do Correo Electronico' %>
                  </div> 
                  <br>
                  <div class="input-group">                                   
                        <label class="iradio-label form-label" for="minimal-radio-2">Desea Enviar Notificaciones al Telefono: </label>
                        <%= f.radio_button(:phone, true) %> Si                        
                        <%= f.radio_button(:phone, false) %> No                       
                  </div>  
                  <br>                                                
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-phone"></i>     
                      </span>                 
                      <%= f.text_field :phone_1, class: 'form-control', placeholder: '1er N# Telefonico' %>
                  </div> 
                  <br>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-phone"></i>     
                      </span>
                      <%= f.text_field :phone_2, class: 'form-control', placeholder: '2do N# Telefonico' %>
                  </div>                   
                  <br>                 
                  <div class="controls"> 
                   <label class="iradio-label form-label" for="minimal-radio-2">Frecuencia de Notificaciones: </label>                 
                   <%= f.select(:notifications, [['5 Min', 5], ['10 Min', 10],['15 Min', 15],['20 Min', 20],['25 Min', 25],['30 Min', 30],['1 Hora', 60],['6 Horas', 360],['12 Horas', 720],['24 Horas', 1440]], {:prompt  => 'Seleccione Frecuencia de Notificaciones'}, {:class => 'form-control m-bot15'})  %>  
                  </div>                                                  
                  <br>  
                  <div class="controls">
                  <label class="iradio-label form-label" for="minimal-radio-2">Frecuencia de Alertas: </label>                 
                        <%= f.select(:alerts, [['5 Min', 5], ['10 Min', 10],['15 Min', 15],['20 Min', 20],
                  ['25 Min', 25],['30 Min', 30],['1 Hora', 60],['6 Horas', 360],['12 Horas', 720],['24 Horas', 1440]], {:prompt  => 'Seleccione Frecuencia de Alertas'}, {:class => 'form-control m-bot15'}) %>
                  </div>                   
                      
                   <br> 
                <div class=" uprofile-buttons">                 
                    <%= f.submit 'Actualizar', class: 'btn btn-success' %>
                </div> 
              </div> 
          </div>
      </div>
  </section>
 </div>

<% end %>
