<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Tablero</h1>                            
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html"><i class="fa fa-home"></i>Tablero</a>
                </li>
                <li>
                    <a href="layout-default.html">Layouts</a>
                </li>
                <li class="active">
                    <strong>Principal</strong>
                </li>
            </ol>
        </div>
    </div>
</div>