<ul class='wraplist'> 
    <li class="">
        <%= link_to '<i class="fa fa-dashboard"></i><span class="title">Tablero</span>'.html_safe, root_path %> 
    </li>

    <li class="">
        <%= link_to '<i class="fa fa-signal"></i><span class="title">Señales</span>'.html_safe, signals_index_path %> 
    </li>
    
    <li class="">
        <%= link_to '<i class="fa fa-gears"></i><span class="title">Telecontroles</span>'.html_safe, telecontrol_path %>
    </li>

    <li class="">
        <%= link_to '<i class="fa fa-sliders"></i><span class="title">Configuración</span>'.html_safe, configuration_path %> 
    </li>
</ul>