<div class='page-topbar'>
    <div class='logo-area'>

    </div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>    
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <li class="profile">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <img src="<%= image_path 'data/profile/logo.png' %>"alt="user-image" class="img-circle img-inline">
                        <span> <%= current_user.full_name %> <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li>
                            <a href="/configuration">
                                <i class="fa fa-wrench"></i>
                                Configuración
                            </a>
                        </li>
                        <li>
                            <a href="/perfil">
                                <i class="fa fa-user"></i>
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-info"></i>
                                Ayuda
                            </a>
                        </li>
                        <li class="last">
                            <%= link_to(destroy_user_session_path, :method => :delete) do %>
                              <i class="fa fa-lock"></i>
                              Salir
                            <% end %>
                        </li>
                    </ul>
                </li> 
                <li class="chat-toggle-wrapper">
                    <a href="#" data-toggle="chatbar" class="toggle_chat">
                        <i class="fa fa-bell"></i>
                            <%= render :partial => 'tag_alerts/count_alerts' %>                        
                    </a>
                </li> 
                 <li class="chat-toggle-wrapper">
                    <a href="#" data-toggle="chatbar" class="toggle_chat">
                        <i class="fa fa-info-circle"></i>
                            <%= render :partial => 'tag_alerts/count_notices' %>                        
                    </a>
                </li>                                     
            </ul>     
        </div>    
    </div>

</div>