<div class="profile-info row">
    <div class="profile-image col-md-4 col-sm-4 col-xs-4">
        <a href="#">
            <img src="<%= image_path 'data/profile/logo.png' %>" class="img-responsive img-circle">
        </a>
    </div>              
    <div class="profile-details col-md-8 col-sm-8 col-xs-8">
        <h3>
            <a href="ui-profile.html"><%= current_user.full_name %></a>
        </h3>
    </div>
</div>