<%= form_for @tag, :html => {:id => "msg_validate", :novalidate =>  "novalidate"} do |f| %> 
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> Debe llenar los Siguientes Campos::</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="clearfix"></div>
<%= render 'shared/flash_messages' if !flash.empty? %>
<div class="clearfix"></div>

  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <section class="box ">
      <header class="panel_header">
          <h2 class="title pull-left">Sensor</h2>
          <div class="actions panel_actions pull-right">                         
              
          </div>
      </header>
      <div class="content-body">
      <p>
      <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">                   
                  <label for="inputEmail" class="col-sm-2 control-label">Nombre</label>                                      
                  <div class="input-group">               
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-tag"></i>     
                      </span>                 
                      <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre del Sensor' %>
                  </div> 

                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Locación</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-location-arrow"></i>     
                      </span>                 
                      <%= f.text_field :location, class: 'form-control', placeholder: '' %>
                  </div> 
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Puerto</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-code-fork"></i>     
                      </span>
                      <%= f.text_field :port, class: 'form-control', placeholder: 'Puerto' %>
                  </div>                   
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Config.</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-cogs"></i>     
                      </span>
                      <%= f.text_field :config, class: 'form-control', placeholder: 'Configuracion del equipo' %>
                  </div>
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Alerta VN</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-arrows-v"></i>     
                      </span>
                      <%= f.text_field :normal_value, class: 'form-control', placeholder: 'Valor del alerta con un estado Normal' %>
                  </div>
                                    <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Alerta VA</label>                                    
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-warning"></i>     
                      </span>
                      <%= f.text_field :warning_value, class: 'form-control', placeholder: 'Valor del alerta con un estado en Advertencia' %>
                  </div>
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Alerta VP</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-recycle"></i>     
                      </span>
                      <%= f.text_field :danger_value, class: 'form-control', placeholder: 'Valor del alerta con un estado de Peligro' %>
                      <%= f.hidden_field :humbral, :value => 10 %>
                  </div>               
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Tipo</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-toggle-down"></i>     
                      </span>
                      <%= f.select :tag_type_id, @tag_type.map{ |r| [r.name, r.id] }, {:prompt  => 'Seleccione el tipo de sensor...'}, {:class => 'form-control m-bot15'}  %>
                  </div>                 
                  <br>
                  <label for="inputEmail" class="col-sm-2 control-label">Dispositivo</label>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <span class="arrow"></span>
                          <i class="fa fa-toggle-down"></i>     
                      </span>
                      <%= f.select :device_id, @device.map{ |r| [r.ip, r.id] },  {:prompt  => 'Seleccione el dispositivo...'}, {:class => 'form-control m-bot15'} %>
                  </div>                  
                 <br> 
                <div class="col-md-12">                 
                    <%= f.submit 'Guardar', class: 'btn btn-success btn-icon bottom15 right15' %>                                       
                                                  
                    <%= link_to 'Regresar', tags_path , class:'btn btn-purple btn-icon bottom15 right15' %>
                </div> 

              </div> 
          </div>
        </div>
      </div>
  </section>
 </div>
<% end %>
