<p id="notice"><%= notice %></p>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Sensores</h2>
            <div class="actions panel_actions pull-right">
                <%= link_to 'Crear nuevo registro', new_tag_path, class: 'btn btn-primary btn-xs' %>
                <!--i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i-->
            </div>
        </header>
        <div class="content-body">    
            <div class="row">
            <% @tags.each do |tag| %>
                <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                    <div class="tile-counter bg-primary">
                        <div class="content">
                            <i class='fa fa fa-dashboard icon-lg'></i>
                            <h2 class="number_counter1" data-speed="3000" data-from="1001" data-to="3504">ID: <%= tag.id %></h2>
                            <!--span><%= tag.name %></span-->
                            <span title="<%= tag.name %>"><%= tag.tag_type.name %></span>
                            <br>
                            <div class="btn-group btn-group-justified">
                            <%= link_to 'Editar', edit_tag_path(tag), class: 'btn btn-blue btn-xs', type:'button' %>
                            <%= link_to 'Eliminar', tag, method: :delete, data: { confirm: 'Estas Seguro de Borrar este Dispositivo?' }, class: 'btn btn-danger btn-xs', type:'button' %>      
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</div>
