<p id="notice"><%= notice %></p>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sort_panel">
  <section class="box purple">
    <header class="panel_header">
        <h2 class="title pull-left">Sensor</h2>
        <div class="actions panel_actions pull-right">
            <i class="box_toggle fa fa-chevron-down"></i>
            <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
            <i class="box_close fa fa-times"></i>
        </div>
    </header>
    <div class="content-body">    
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>
              <strong>Nombre:</strong>
              <%= @tag.name %>
            </p>

            <p>
              <strong>Tipo de Sensor:</strong>
              <%= @tag.tag_type.name %>
            </p>

            <p>
              <strong>Locacion:</strong>
              <%= @tag.location %>
            </p>

            <p>
              <strong>Puerto:</strong>
              <%= @tag.port %>
            </p>

            <p>
              <strong>Configuración:</strong>
              <%= @tag.config %>
            </p>

            <p>
              <strong>Dispositivo:</strong>
              <%= @tag.device.ip %>
            </p>
            <p>
              <strong>Valor Normal:</strong>
              <%= @tag.normal_value %>
            </p>
             <p>
              <strong>Valor de advertencia:</strong>
              <%= @tag.warning_value %>
            </p>
            <p>
              <strong>Valor de Peligro:</strong>
              <%= @tag.danger_value %>
            </p>
            <p>
              <strong>Humbral:</strong>
              <%= @tag.humbral %> %
            </p>

        </div>
        <div class="col-md-12">                 
           <%= link_to 'Editar', edit_tag_path(@tag) , class:'btn btn-success btn-icon bottom15 right15' %>  
           <%= link_to 'Regresar', tags_path , class:'btn btn-primary btn-icon bottom15 right15' %>
        </div> 
      </div>
    </div>
  </section>
</div>



