<div class="login-wrapper">
    <div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <h1><a href="/" title="Visared Login" tabindex="-1">Visared Login</a></h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <p>
              <%= f.label(:email) do %>
                Correo Electrónico
                <br />
                <%= f.email_field :email, autofocus: true, class: "input", size: 20 %>
              <% end %>
            </p>
            <p>
              <%= f.label(:password) do %>
                Contraseña
                <br />
                <%= f.password_field :password, autocomplete: "off", class: "input", size: 20 %>
              <% end %>
            </p>
            <p class="submit">
                <%= f.submit "Login", class: "btn btn-orange btn-block" %>
            </p>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>
