<!-- START BREADCRUMBS -->
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Configuración</h1>                            
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="r4_counter db_box">
                <i class='pull-left fa fa-laptop icon-md icon-rounded icon-orange'></i>
                <div class="stats">
                    <h4><strong>
                    <a href="/devices"> 
                        Dispositivos
                     </a></strong></h4>
                    <span>Listar dispositivos</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="r4_counter db_box">
                <i class='pull-left fa fa-dashboard icon-md icon-rounded icon-purple'></i>
                <div class="stats">
                    <h4><strong>
                    <a href="/tags"> 
                        Sensores
                     </a></strong></h4>
                    <span>Listar sensosres</span>
                </div>
            </div>
        </div>
    </div> <!-- End .row -->    
    
</div>