<p id="notice"><%= notice %></p>

<h1>Listing Tag Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag type</th>
      <th>Command</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_types.each do |tag_type| %>
      <tr>
        <td><%= tag_type.name %></td>
        <td><%= tag_type.tag_type %></td>
        <td><%= tag_type.command %></td>
        <td><%= tag_type.status %></td>
        <td><%= link_to 'Show', tag_type %></td>
        <td><%= link_to 'Edit', edit_tag_type_path(tag_type) %></td>
        <td><%= link_to 'Destroy', tag_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag type', new_tag_type_path %>
