<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag_type.name %>
</p>

<p>
  <strong>Tag type:</strong>
  <%= @tag_type.tag_type %>
</p>

<p>
  <strong>Command:</strong>
  <%= @tag_type.command %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tag_type.status %>
</p>

<%= link_to 'Edit', edit_tag_type_path(@tag_type) %> |
<%= link_to 'Back', tag_types_path %>
