<!DOCTYPE html>
<html>
<head>
  <title>VisaredWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= favicon_link_tag 'images/favicon.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon' %>
  <%= favicon_link_tag 'images/apple-touch-icon-57-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon' %> <!-- For iPhone -->
  <%= favicon_link_tag 'images/apple-touch-icon-114-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon', sizes: "114x114" %> <!-- For iPhone 4 Retina display -->
  <%= favicon_link_tag 'images/apple-touch-icon-72-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon', sizes: "72x72" %> <!-- For iPad -->
  <%= favicon_link_tag 'images/apple-touch-icon-144-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon', sizes: "144x144" %> <!-- For iPad Retina display -->

  <!-- CORE CSS FRAMEWORK - START -->
  <%= stylesheet_link_tag 'plugins/pace/pace-theme-flash', media: 'screen', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'plugins/bootstrap/css/bootstrap.min', media: 'screen', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'plugins/bootstrap/css/bootstrap-theme.min', media: 'screen', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'css/animate.min', media: 'screen', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'plugins/perfect-scrollbar/perfect-scrollbar', media: 'screen', rel: 'stylesheet' %>
  <!-- CORE CSS FRAMEWORK - END -->

  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
  <%= stylesheet_link_tag 'plugins/icheck/skins/square/orange', media: 'screen', rel: 'stylesheet' %>
  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


  <!-- CORE CSS TEMPLATE - START -->
  <%= stylesheet_link_tag 'css/style', media: 'screen', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'css/responsive', media: 'screen', rel: 'stylesheet' %>
  <!-- CORE CSS TEMPLATE - END -->

  <%= csrf_meta_tags %>
</head>
<body class="login_page">

        <%= yield %>


        <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

        <!-- CORE JS FRAMEWORK - START --> 
        <%= javascript_include_tag 'js/jquery-1.11.2.min', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'js/jquery.easing.min', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'plugins/bootstrap/js/bootstrap.min', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'plugins/pace/pace.min', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'plugins/perfect-scrollbar/perfect-scrollbar.min', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'plugins/viewport/viewportchecker', 'data-turbolinks-track' => true %>
        <!-- CORE JS FRAMEWORK - END --> 


        <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
        <%= javascript_include_tag 'plugins/icheck/icheck.min', 'data-turbolinks-track' => true %>
        <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


        <!-- CORE TEMPLATE JS - START --> 
        
        <!-- END CORE TEMPLATE JS - END --> 

        <!-- Sidebar Graph - START --> 
        <%= javascript_include_tag 'plugins/sparkline-chart/jquery.sparkline.min', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'js/chart-sparkline', 'data-turbolinks-track' => true %>
        <!-- Sidebar Graph - END --> 

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
