<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>VisaredWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= favicon_link_tag 'images/favicon.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_link_tag 'images/apple-touch-icon-57-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon' %> <!-- For iPhone -->
    <%= favicon_link_tag 'images/apple-touch-icon-114-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon', sizes: "114x114" %> <!-- For iPhone 4 Retina display -->
    <%= favicon_link_tag 'images/apple-touch-icon-72-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon', sizes: "72x72" %> <!-- For iPad -->
    <%= favicon_link_tag 'images/apple-touch-icon-144-precomposed.png', media: 'screen', rel: 'shortcut icon', type: 'image/x-icon', sizes: "144x144" %> <!-- For iPad Retina display -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- CORE CSS FRAMEWORK - START -->
        <!-- <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/> -->
    <!-- CORE CSS FRAMEWORK - END -->
  </head>
  <body>
  <!-- START PAGE TOPBAR -->
  <%= render :partial => 'shared/template_layout_application/top_bar' %>
  <!-- END TOPBAR -->

  <!-- START CONTAINER -->
  <div class="page-container row-fluid">

      <!-- SIDEBAR - START -->
      <div class="page-sidebar ">

          <!-- MAIN MENU - START -->
          <div class="page-sidebar-wrapper" id="main-menu-wrapper"> 

              <!-- USER INFO - START -->
              <%= render :partial => 'shared/template_layout_application/user_info' %>
              <!-- USER INFO - END -->

              <!-- LIST ITEM MENU - START -->
              <%= render :partial => 'shared/template_layout_application/list_main_menu' %>
              <!-- LIST ITEM MENU - END -->

          </div>
          <!-- MAIN MENU - END -->

      </div>
      <!--  SIDEBAR - END -->
      <!-- START CONTENT -->
      <section id="main-content" class=" ">
          <section class="wrapper" style='margin-top:60px;display:inline-block;width:100%;padding:15px 0 0 15px;'>

            <%= yield %>

          </section>
      </section>
      <!-- END CONTENT -->

  </div>
  <!-- END CONTAINER -->
  <!-- ALERTAS Y NOTIFICACIONES -->
  <div class="page-chatapi hideit">               

    <%= render :partial => 'tag_alerts/alerts' %>
    <%= render :partial => 'tag_alerts/notices' %>

  </div>

  <div class="chatapi-windows ">

  </div>    </div>
  <!-- END ALERTAS Y NOTIFICACIONES -->
  <!-- General section box modal start -->
  <%= render :partial => 'shared/template_layout_application/box_modal' %>
  <!-- modal end -->
  </body>
</html>